<!DOCTYPE html>
<html lang="en">
<head>
    <title>졸작테스트(범규, 경채)</title>
    <meta name="description" content="실시간 건강 정보 송수신 서버"
</head>
<body>
<meta name="viewport" content="width=device-width,initial-scale=1.0,
                               minimum-scale=1.0,maximum-scale=1.0,
                               user-scalable=no"/>
<form class="form-signin" method="POST" action="/login/">
    <center>
      <img src="https://www.cju.ac.kr/common/images/layout/logo.png" />
    <h1 class="h3 mb-3 font-weight-normal">졸업작품 테스트 서버</h1>
    <input type="text" id="userid" name="userid" class="form-control" placeholder="ID" autofocus=""/><br>
    <input type="password" id="userpw" name="userpw" class="form-control" placeholder="Password"/>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">로그인</button>
    <br>
    <br>
        </center>
          <div style="position: relative; height: 0px; padding-bottom: 56.25%; text-align: left;">
<iframe style="position: absolute; width:100%; height:100%;" src="https://www.youtube.com/embed/XoS3NOTjkLk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
</div>
</form>
</body>
</html>